<div class="container">
  <div class="row">
    <div class="col-md-5">
      <ul class="list-group" *ngFor="let todo of (todosState | async).todos">
        <li class="list-group-item"
            (click)="onSelectTodo(todo)"
            [ngClass]="{'selectedItem': selectedTodo.id===todo.id}">
          {{todo.name}}
          <!--<a [routerLink]="todo.id"> {{todo.name}}</a>-->
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Add</button>
      <button type="button" class="btn btn-default">Edit</button>
      <button type="button" class="btn btn-default">Delete</button>
    </div>
    <!--<div class="col-md-2">-->
      <!--<a class="btn btn-primary" routerLinkActive="active" [routerLink]="selectedTodo.id">Show Details</a>-->
    <!--</div>-->
    <!--<div class="col-md-2">-->
      <!--<a class="btn btn-primary" routerLinkActive="active" [routerLink]="selectedTodo.id">Edit </a>  of {{selectedTodo.name}}-->
    <!--</div>-->
  </div>
</div>
